[ControlPlane]
%{ for cp_index in cp_number ~}
${ cp_hostname[cp_index] } ansible_host=${ control_plane_ip[cp_index] } ansible_user=${ansi_user}
%{ endfor ~}

[Workers]
%{ for worker_index in worker_number ~}
${ worker_hostname[worker_index] } ansible_host=${ worker_ip[worker_index] } ansible_user=${ ansi_user }
%{ endfor ~}
