# {{ ansible_managed }}
127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdommain4
::1       localhost localhost.localdomain localhost4 localhost4.localdommain4

{% for item in play_hosts %}
{{ hostvars[item]['ansible_ens192']['ipv4']['address'] }} {{ hostvars[item]['inventory_hostname'] }} {{ hostvars[item]['ansible_fqdn'] }}
{% endfor %}


