# {{ ansible_managed }}
127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdommain4
::1       localhost localhost.localdomain localhost4 localhost4.localdommain4

{% for item in play_hosts %}
{% set short_name = item.split('.') %}
{{ hostvars[item]['ansible_ens192']['ipv4']['address'] }} {{ hostvars[item]['inventory_hostname'] }} {{ inventory_hostname_short }}
{% endfor %}
